<div class="alert alert-info">
    <h2>我的藏书 <a href="javascript:void(0)" data-toggle="modal" data-target="#this-info"><i class="glyphicon glyphicon-info-sign"></i></a></h2>
    <div>
        收藏的图书：<a href="javascript:void(0)" data-type="all"><%= all %></a>，
        已读图书：<a href="javascript:void(0)" data-type="read"><%= read %></a>，
        在读图书：<a href="javascript:void(0)" data-type="reading"><%= reading %></a>，
        未读图书：<a href="javascript:void(0)" data-type="unread"><%= unread %></a>
    </div>
</div>